@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,600);

body {
    direction: rtl;
    font-family: "iranyekan";
    /* font-size: 14[x]; */
}


@font-face {
    font-family: "iransans";
    src: url('./font/irsans.ttf') format('woff');
}

@font-face {
    font-family: 'iranyekan';
    src:
        url('./font/IranYekan/eot/IRANYekanWebRegular.eot') format('eot'),
        url('./font/IranYekan/woff/IRANYekanWebRegular.woff') format('woff'),
        url('./font/IranYekan/ttf/IRANYekanWebRegular.ttf') format('truetype');
}

.col-4 {
    background-color: #EDEDED;
    padding: 0;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#col4 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    height: 120vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
}

.col4-header a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 900;
}

.noborder {
    border: none;
    /* transition: opacity .2s linear; */
}

.row {
    margin: auto 0;
}

.servers {
    background-color: #EDEDED;
}

ul.side-menu {
    background-color: #EDEDED;
    height: 100%;
    border-radius: 0;
    overflow: auto;
}

#logodiv {
    background-color: #EDEDED;
}






.list-group-item-action.active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
}

.categoryname {
    font-size: 14px;
    margin: 10px 0;
}

.fa-thumbtack {
    font-size: 12px;
}



.container-fluid {
    padding: 0;

}


.col-8 {
    padding: 0;
    margin: 0;
    /* border: 1px solid; */
    z-index: 999999;
}

#col8 {
    padding: 0;
    margin: 0;
}

/**********************************************/

/******************* Header -fixed */
.inp {
    position: fixed;
    width: 100%;
    top: 0;
    height: 65px;
    background: rgb(120, 32, 162);
    background: linear-gradient(90deg, rgba(120, 32, 162, 1) 0%, rgba(109, 38, 161, 1) 36%, rgba(92, 45, 161, 1) 67%, rgba(83, 49, 160, 1) 100%);

}

.inp input {
    /* width: 100%; */
    background: transparent;
    outline: none;
    border: 0;
    line-height: 40px;
}

.inp img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.srch {
    margin-right: 330px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: rgba(230, 230, 230, .3);
}

/******************************************************/
.header-grad {

    height: 185px;
    background: rgb(121, 32, 162);
    background: linear-gradient(90deg, rgba(121, 32, 162, 1) 0%, rgba(101, 41, 161, 1) 36%, rgba(82, 49, 160, 1) 67%, rgba(69, 54, 160, 1) 100%);

    /* position: absolute; */
    /* top: 64px; */
    /* right: 0; */
    /* width: 100%; */
    /* -webkit-transition: .3s ease all; */
    /* transition: .3s ease all; */
}

/*  okkkkkkkkkkkkkkkkk    */
.boxshadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.cont-det {
    width: 80%;
    background-color: #EDEDED;
    height: 500px;
    margin: -75px auto;
    border-radius: 10px;
    /* position: fixed; */

}

/* .invalid {
    border-color: red !important;
}

.valid {
    border-color: green !important;
} */

.color-black {
    color: black;
}

.color-red {
    color: red;
}

#feedbakcspan,
#feedbakcspans,
#feedbakcspane,
#feedbakcspang,
#invalid-feedback,
#feedbackEnPass,
#feedbakcspang {
    font-size: 12px;
}

/********* menu icon toggker *******/


.btn-sidenav-toggle {
    position: fixed;
    top: 6px;
    right: 6px;
    font-size: 30px;
    text-align: center;
}



.btn-floating {
    line-height: 40px;

    display: inline-block;
    overflow: hidden;

    width: 40px;
    height: 40px;
    padding: 0;

    cursor: pointer;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    vertical-align: middle;

    color: #fff;
    border-radius: 50%;
    background-color: #ff4081;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}



a {
    text-decoration: none;
}

/**************************/
.form-control-custom {
    display: block;
    /* width: 100%; */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-custom.is-valid,
.was-validated .form-control.valid {
    border-color: var(--bs-success);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


.form-control-custom.is-invalid,
.was-validated .form-control.invalid {
    border-color: var(--bs-danger);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid {
    border-color: red !important;
}




/*********************************************************/
.input-group-custom {
    /* position: relative; */
    /* position: ; */
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    /* z-index: 1; */
}

.input-group-custom-wrap {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    /* z-index: 1; */
}

@media screen and (max-width: '559') {
    .srch {
        margin-right: 0px;

    }
}

@media only screen and (max-width: 767px) {

    .srch {
        margin-right: 15px !important;

    }
}

.pos-fixed {
    position: fixed;
}

.tcontent {
    /* width: 600px; */
    margin: 50px auto;
    border-radius: 10px;
}

th {
    text-align: center;
}


.dropdown-menu {
    text-align: right;
    /* min-width: 50px !important */
}

#notification {
    color: #fff;
    font-size: 20px;
    /* margin: auto; */
}

#bdg {
    font-size: 10px;
}

.input-group-custom>input.someInput {
    flex: 0 1 100px;
}

form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: -50px !important;
    border-radius: 3px;
    background-color: #ffffff;
    /* background: rgb(254, 75, 173); */
    /* background: linear-gradient(180deg, rgba(254, 75, 173, 1) 0%, rgba(219, 68, 196, 1) 36%, rgba(177, 60, 223, 1) 67%, rgba(151, 55, 240, 1) 100%); */
}

.yl {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.yr {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input {
    border-radius: 4px;
}